.mapblock{
    position: relative;
}


.sticky-map {
    border: red 1px solid;
    position: sticky;
    top: 0;
    /* z-index: -1; */
}
.title-page{
    position: relative;
    margin: 0 auto;
    padding: 0 50px;
    background: #fffe;
    height:150px;
    top: -57vh;
    width:fit-content;
}

.title-page h1{
    text-align: center;
    line-height: 150px;
    font-size: calc(1.375rem + 3vw);
    color: #5a875a;;
}

.card-container{
    margin-left: 50px;
    padding-bottom: 50vh;
    /* padding-top: 50vh; */
}
.card {
    margin-top: 100vh;
}

.card:first-child {
    margin: 0 0;
}

.container {
    padding-bottom: 0px;
    position: relative;
    top:-50vh;
}

.box-legend{
    height: 260px;
    width: 260px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
}

.box-legend-square{
    height:40px;
    width:40px;
    text-align: center;
    line-height: 40px;
    color:aliceblue;
}

s{
    font-weight: bold;
    color: #3b4994;
    text-decoration: none;
    color: #14299e, #a51313;
}

.leaflet-popup-content p {
    margin:10px;
}